.previous{
    position: absolute;
    left: 500px;
    bottom: 200px;
    height: 50px;
    width: 200px;
}
.next{
    position: absolute;
    right: 500px;
    bottom: 200px;
    height: 50px;
    width: 200px;
}